body{

background:#0f172a;
margin:0;
font-family:Arial;
color:white;

}

.header{

text-align:center;
padding:20px;
background:#1e293b;

}

.logo{

height:80px;

}

.container{

width:80%;
margin:auto;
padding:20px;

}

label{

display:block;
margin-top:10px;

}

input,select{

width:100%;
padding:12px;
margin-top:5px;
margin-bottom:15px;
background:#1e293b;
border:1px solid orange;
color:white;
border-radius:5px;

}

button{

width:100%;
padding:15px;
background:orange;
border:none;
font-size:18px;
font-weight:bold;
border-radius:5px;
cursor:pointer;

}
.summary-box{

display:flex;
gap:20px;
margin-top:30px;
flex-wrap:wrap;

}

.card{

background:#1e293b;
padding:20px;
border-radius:10px;
border:1px solid orange;
min-width:250px;
flex:1;

}

.card h3{

color:orange;
margin-top:0;

}